@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  ::-webkit-scrollbar {
    display: none;
  }
html{
  scroll-behavior: smooth;

}

body{
  background-color: #1255AC;
  overflow-x: hidden;
}

.hero{
  height: 100vh;
  width: 100%;
  background-image: url(./assets/hero-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.hero-icons {
  display: flex;
  gap: 24px;
  z-index: 10;
  position: absolute;
  top: 30px;
  right: 40px;
}

.hero-icons i {
  cursor: pointer;
  font-size: 25px;
  color: white;
}

.detalhes-hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 60%;
}

.frase-efeito{
  right: 190px;
  rotate: -90deg;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

.aniversario{
  rotate: -90deg;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

.menu-desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.menu-desktop img{
  height: 58px;
  width: 58px;
}

.links-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 30px;
}

.links-menu a{
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.menu-icons{
  display: flex;
  font-size: 25px;
  color: white;
  transform: translateX(-40px);
  gap: 24px;
}

.Sobre{
  background-color: black;
  height: 100vh;
  width: 100%;
}

.content-sobre{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.informacoes-RSobre{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  transform: translateX(40px)
}

.title-sobre{
  width: 50%;
}

.title-sobre p{
  font-size: 120px;
  font-family: "Anton", sans-serif;
  color: white;
  line-height: 0.9;
}

.imagem-sobre img{
  height: 90vh;
  width: 40vw;
  transform: translateX(-20px);
}

.subtitle-sobre{
  width: 50%;
}

.subtitle-sobre p{
  padding-top: 25px;
    font-family: "Anton", sans-serif;
    font-size: 48px;
    color: white;
    text-align: justify;
}
 .subtitle-sobre span{
  font-family: "Bebas Neue", sans-serif;
  color: #0038EF;
  font-size: 24px;
  letter-spacing: 6%;
 }

.text-descricao{
  width: 100%;
  padding-top: 20px;
}

.text-descricao p{
  font-family: "Poppins", sans-serif;
  color: #919091;
  font-size: 20px;
  width: 60%;
  border-left: 5px solid #0038EF;
  padding-left: 20px;
  padding-top: 10px;
}


.informacoes-LSObre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.frases-efeito{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frases-efeito span{
  width: 50%;
  font-family: "Architects Daughter", cursive;
  font-size: 24px;
  color: white;
  rotate: -20deg;
}

.frases-efeito img{
  height: 80px;
  width: 90px;
}


.informacoes-sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  border-bottom: 5px solid #0038EF;
}

.informacoes-sobre p{
  color: #0038EF;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.informacoes-sobre span{
  color: #919091;
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;
}

.motivacoes-sobre{
  color: #919091;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}


.decoracoes-sobre{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}


#Diferencial {
  min-height: 120vh;
  position: relative;
  background-image: url('./assets/diferencial-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

#Diferencial .menu-desktop {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.content-diferencial {
  min-height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.title-diferencial{
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: white;
  line-height: 1.1;
  transform: translateX(40px)
}

.title-diferencial p{
  width: 30%;
}

.title-diferencial span{
  color: #0038EF;
}

.cards-diferencial{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card{
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap:wrap;
  gap: 2px;
  position: relative;
}

.card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 90%;
  width: 2px;
  background-color: #919091;
}


.content-card h1{
  font-family: "Anton",sans-serif;
  font-size: 60px;
  color: white;
}

.content-card p{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  color: #0038EF;
  letter-spacing: 26%;
}

.content-card span{
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #919091;
  text-align: left;
  width: 249px;
}

.card img{
  transform: translateX(40px);
  height: 196px;
  width: 223px;
}

.button-card{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.button-card i{
  color: white;
}



